@import "normalize";
@import "_fonts.scss";
@import "../font-awesome/scss/font-awesome.scss";
html {
    background-color: white;
}
body {
    font-family: 'rubikregular', sans-serif;
    line-height: 1.3;
    width: 21cm;
    margin: auto;
    padding: 20mm 16mm 20mm 16mm;
    box-shadow: 0 0 15px black;
    background-image: url("../images/seigaiha.png");
}
a {
    text-decoration: none;
    color: black;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    li {
        font-size: 1em;
        width: 50%;
        margin: 5px 0 5px 0;
    }
}
.content__technologies {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    li {
        padding: 3px;
        margin: 3px;
        border: 1px solid black;
        border-radius: 2px;
    }
}
[class$="left"]{
    width: 60%;
    // p {
    //     font-size: 0.9em;
    // }
}
[class$="right"] {
    width: 36%
}
[class^="content"] {
    h2::after {
        display: block;
        content: "";
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        width: 100%;
    }
}
.secondary-color {
    color: #008CFF;
}
.consent {
    color: #7f8c8d;
    text-align: center;
    font-size: 0.8em;
}
h2, h3, h4, h5, p, ul {
    margin: 0.4em 0 0.4em 0;
}
h4 {
    letter-spacing: 0.1em;
}
.dotted-line::after {
    display: block;
    content: "";
    border-top: 1px dashed #7f8c8d;
    // border-bottom: 2px solid black;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header__photo--right img {
    width: 100%;
    border-radius: 20px;
}
h1 {
    font-size: 3em;
    margin-top: 0;
}
.content__education, .content__experience{
    p, ul {
        font-size: 0.9em;
    }
}